html {
  font-family: 'Outfit', sans-serif;
  font-size: 62.5%; /*1rem =10px*/
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(217, 54%, 11%);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 35rem;
  height: 59.6rem;
  margin-top: 15rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  background-color: hsl(216, 50%, 16%);
}

.image-container {
  box-sizing: border-box;
  width: 30.2rem;
  height: 30.2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.image {
  display: block;
  position: relative;
  width: 30.2rem;
  height: 30.2rem;
  border-radius: 1rem;
}

.image-container::before {
  content: url(../images/icon-view.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
  opacity: 0;
  z-index: 3;
}

.image-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 255, 247, 50%);
  z-index: 2;
  opacity: 0;
  border-radius: 0.5rem;
}

.image-container:hover::before {
  opacity: 1;
}

.image-container:hover::after {
  opacity: 0.3;
}

.items-container {
  box-sizing: border-box;
  margin-left: 1rem;
  margin-right: 1rem;
}

.name {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 5rem;
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.value {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 5rem;
  color: hsl(178, 100%, 50%);
}

.time {
  display: inline-block;
  font-size: 1.4rem;
  padding-left: 13rem;
  color: hsl(215, 51%, 70%);
}

.author {
  display: flex;
  align-items: center;
  border-top: solid 0.1rem hsl(215, 51%, 70%);
  padding-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

span {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.photo {
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 1.5rem;
}

.footer {
  margin-top: 2rem;
  color: hsl(215, 51%, 70%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 640px) {
  .container {
    margin-top: 4.5rem;
  }

  .footer {
    margin-top: 0rem;
  }
}